html {
	font-size: 16px;
}
body {
	align-items: center;
	display: flex;
	flex-flow: row-wrap;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
	width: 100%;
}

.container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	border-bottom: 3px solid #77a466;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}

header h1 {
	text-align: center;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	display: flex;
	width: 50%;
}
header nav ul {
	display: block;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	list-style: none;
}
header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}
.main-image {

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}
.main-title {

}
.main-title h2 {
	text-align: left;
	color: #77a466;
}
.main-title p {
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h3 {

}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {

}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li {
	color: #77a466;
}
.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}
.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	width: 90%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
